absl-py==0.15.0
astunparse==1.6.3
blis==0.7.5
cached-property==1.5.2
cachetools==4.2.1
catalogue==2.0.6
certifi==2019.9.11
charset-normalizer==2.0.11
clang==5.0
click==8.0.3
contextvars==2.4
cycler==0.11.0
cymem==2.0.6
Cython==0.29.27
dataclasses==0.8
drain3==0.9.9
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
flatbuffers==1.12
future==0.18.2
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.1.0
hdbscan==0.8.27
idna==3.3
immutables==0.16
importlib-metadata==4.8.3
Jinja2==3.0.3
joblib==0.14.0
jsonpickle==1.5.1
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
langcodes==3.3.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.4
murmurhash==1.0.6
nltk==3.6.7
numpy==1.19.5
oauthlib==3.2.0
opt-einsum==3.3.0
overrides==6.1.0
packaging==21.3
pandas==0.25.3
pathy==0.6.1
pickle5==0.0.12
Pillow==8.4.0
preshed==3.0.6
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pyparsing==3.0.7
python-dateutil==2.8.1
pytz==2019.3
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==0.21.3
scipy==1.3.3
seaborn==0.11.2
six==1.15.0
sklearn==0.0
smart-open==5.2.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
spacytextblob==3.0.1
srsly==2.4.2
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
textblob==0.15.3
thinc==8.0.13
threadpoolctl==3.1.0
torch==1.6.0
torchvision==0.11.2
tqdm==4.39.0
typer==0.4.0
typing-extensions==3.7.4.3
typing-utils==0.1.0
urllib3==1.26.8
wasabi==0.9.0
Werkzeug==2.0.3
wincertstore==0.2
wrapt==1.12.1
zipp==3.6.0
